body {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.loggedOrNot {
  padding: 30px 60px;
  color:$dark-teal;
}
.title {
  color: rgb(79, 79, 105);
  padding: 0px 60px;
}